@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Montserrat:wght@100&family=Poppins:wght@500;600;700;800&family=Roboto+Slab:wght@200&family=Work+Sans:ital,wght@0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
